@inherits LayoutComponentBase

@inject NavigationManager Navigation

@using Syncfusion.Blazor.Navigations
<head>
   
</head>
<body>
    <div class="page">
        <main>
            <div class="top-row px-4">
                <NavMenu />
                <NavLink href="chatbot">
                    <img src="pics\chatbot.png" width="5%" heigth="5%" />
                </NavLink>
                
                
            </div>
            
            
               @* <div class="slideshow-container">
                    <div class="mySlides fade">
                        <img src="https://img.freepik.com/free-vector/flat-horizontal-sale-banner-template-world-book-day-celebration_23-2150201468.jpg">
                    </div>
                    <div class="mySlides fade">
                        <img src="https://img.freepik.com/free-vector/flat-world-book-day-social-media-promo-template_23-2149314677.jpg">
                    </div>

            </div>*@
                <div>
                    @Body
                </div>
                
           
            
        </main>
    </div>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    @*<script src="SlideShow.js"></script>*@

</body>
@code{
    


}

