

<div  onclick="document.querySelector('.navbar-toggler').click()">

    <nav>
            <div>
                <NavLink href="" Match="NavLinkMatch.All">
                    <span aria-hidden="true"></span> Home
                </NavLink>
            </div>

            <div>
                <NavLink href="counter">
                    <span aria-hidden="true"></span> Info
                </NavLink>
            </div>

    </nav>
</div>

