

<div  onclick="document.querySelector('.navbar-toggler').click()">

    <nav>
            <div>
                <NavLink href="" Match="NavLinkMatch.All">
                    <span aria-hidden="true"></span> Home
                </NavLink>
            </div>
        <div>
            <NavLink href="login">
                <span aria-hidden="true"></span> LogIn
            </NavLink>
        </div>
        <div>
            <NavLink href="signup" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> SignUp
            </NavLink>
        </div>

           
        
    </nav>
</div>

