
@rendermode InteractiveServer
@inject NavigationManager Navigation
@page "/book-details"

<div class="book-details-item">
    <div class="item-element">
        <img src="@($"{imageUrlPart}{book.Image}")" style="width:20%; height:25%;" />
    </div>
    <div class="item-element">
        @book.Title
    </div>
    <div>
        @book.Genre
    </div>

</div>

@code {
    string imageUrlPart = "https://wolnelektury.pl/media/";

    private string name;
    protected override void OnInitialized()
    {
        var uri = new Uri(Navigation.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);
        name = query["title"].ToString();
    }

    Book book = new Book();




    BooksAPI api = new BooksAPI();
   protected override async Task OnInitializedAsync()
         {
         book = await api.GetBookByTitle(name);
    }
}
