@page "/login"
@rendermode InteractiveServer
@inject UserManagementService UserManagementService
@inject NavigationManager Navigation
@using bookshop.DbModels


<div class="login">
    <h3>LogIn</h3>
    <div class="login-item">
        <label for="login">Login</label>
        <input type="text" @bind="login" />
    </div>
    <div class="login-item">
        <label for="password">Password</label>
        <input type="password" @bind="password" />
    </div>
    <button @onclick="(e)=>LoginUser()">LogIn</button>
    <p @bind=""></p>
</div>

@code {
    private string login = "";
    private string password = "";
    private string errorMessage = "";
    private User? user = new User();

    public async Task LoginUser()
    {
        if (!String.IsNullOrEmpty(login) && !String.IsNullOrEmpty(password))
        {
            user = await UserManagementService.GetUserByLogin(login);

            if (user != null && (user.Password == password))
            {
                UserManagementService.UserLogedInSystem = user;
                errorMessage = "";
                Navigation.NavigateTo($"/", forceLoad: true);

            }
            {
                errorMessage = "Login or password is incorrect.Please, try again";
            }

        }
        


    }

}
